body {
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
}

.common-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.option {
  background-image: url('./img/Stranger-Things-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.option,
.option-second,
.option-third,
.option-fourth {
  width: 50px;
  height: 350px;
  border-radius: 28px;
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50px;

  background-color: #4e4e4e;
}
.label {
  display: flex;
  align-items: center;
}
.label .icon {
  margin-right: 15px;
}
.info {
  width: 350px;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  left: 55px;
  bottom: 0;
}

.show-text {
  animation: showBlock 1.5s linear forwards;
}

.reveal-cart {
  width: 500px;
  transition: 0.5s;
}
.option-second {
  background-image: url('./img/ic-bg-hopper.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.option-third {
  background-image: url('./img/ic-bg-eddie.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.option-fourth {
  background-image: url('./img/ic-bg-dustin.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.eddit {
  background-image: url('./img/ic-eddie.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.eleven {
  background-image: url('./img/ic-eleven.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.hopper {
  background-image: url('./img/ic-hopper.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.option,
.option-second,
.option-third {
  margin-right: 15px;
}
.option,
.option-second,
.option-third,
.option-fourth {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  position: relative;
}
.label {
  position: absolute;
  left: 5px;
}
.info div {
  color: #fff;
}

.icon-parameters {
  width: 30px;
  height: 30px;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
